{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}MiniCC KuKu{% endblock %}

{% block main %}
<h2>Stores</h2>
    <div class="row">
        <div class="col-1">No.</div>
        <div class="col-3">Destination</div>
        <div class="col-3">Inquilino</div>
        <div class="col-1">Alq.</div>
        <div class="col-1">Alq+TAX</div>
        <div class="col-1">Balance</div>
    </div>
    {%for store in stores%}
{#{{dump(store)}}#}
    <div class="row">
        <div class="col-1">{{store.id}}</div>
        <div class="col-3">{{store.destination}}</div>
        <div class="col-3">{{store.user ? store.user.name : '**DESOCUPADO**'}}</div>
        <div class="col-1">{{store.valAlq}}</div>
        <div class="col-1">{{store.valAlq|conIva}}</div>
        <div class="col-1">{{balances[store.id]}}</div>
    </div>
    {%endfor%}
{% endblock %}
