{% macro table(stores) %}
    <table class="table table-bordered table-sm table-hover">
        <thead>
        <tr>
            <th class="text-center">Store</th>
            <th>Destiny</th>
            <th>Client</th>
            <th>e-mail</th>
            <th>Send</th>
        </tr>
        </thead>

        <tbody>
        {% for store in stores %}
            <tr>
                <td class="text-center">{{ store.id }}</td>
                <td>{{ store.destination }}</td>
                <td>{{ store.user ? store.user.name|short_name : 'n/a' }}</td>
                <td>{{ store.user ? store.user.email : 'n/a' }}</td>
                <td>
                    <input class="form-check-input" type="checkbox" name="recipients[{{ store.id }}]">
                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <td colspan="5">
                <button type="submit" class="btn btn-success">Send mails</button>
            </td>
        </tr>
        </tfoot>
    </table>
{% endmacro %}
