{% extends '_pdf/base-pdf.html.twig' %}

{% block title %} {{ parent() }} - Transactions{% endblock %}

{% block stylesheets %}
    <style>
        body {
            font-size: 12px;
        }

        tr.filler td {
            border-top: 1px solid silver;
        }

        thead {
            display: table-header-group
        }

        tfoot {
            display: table-row-group
        }

        tr {
            page-break-inside: avoid
        }
    </style>
{% endblock %}

{% block body %}
    {% set saldo = saldoAnterior %}
    <h2>Movimientos del Local {{ store.id }} Periodo {{ year }}</h2>

    <h4>{{ store.user ? store.user.name : 'n/a' }} - {{ store.destination }}</h4>

    <table>
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Detalle</th>
            <th class="text-right">Monto</th>
            <th class="text-right">Saldo</th>
        </tr>
        </thead>
        <tbody>
        <tr class="initial">
            <td>enero 1</td>
            <td>Saldo Anterior</td>
            <td class="text-right">{{ saldoAnterior|price|raw }}</td>
            <td class="text-right">{{ saldoAnterior|price|raw }}</td>
        </tr>
        {% for transaction in transactions %}
            {% if transaction.id %}
                {% set saldo = saldo + transaction.amount %}
                <tr class="{{ transaction.type.cssClassPdf }}">
                    <td>{{ intlDate(transaction.date, 'MMMM d') }}</td>
                    <td>{{ transaction.type.translationKey|trans }} {{ transaction.comment ? '('~transaction.comment~')' : '' }}</td>
                    <td class="text-right">{{ transaction.amount|price|raw }}</td>
                    <td class="text-right">{{ saldo|price|raw }}</td>
                </tr>
            {% else %}
                {# FILLER #}
                <tr class="filler">
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
