<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for method in paymentMethods %}
        <tr>
            <td>{{ method.id }}</td>
            <td>{{ method.name }}</td>
            <td>
                <span {{ stimulus_controller('modal-form', {
                    formUrl: path('payment_methods_edit', { id: method.id, ajax: 1 })
                }) }}
                >
                    <button
                            class="btn btn-primary btn-sm"
                            data-action="modal-form#openModal"
                    >
                        Edit
                    </button>
                    {{ include('_modal.html.twig', { modalTitle: 'Editar metodo de pago' }) }}
                </span>
                <a class="btn btn-warning btn-sm"
                   href="{{ path('payment_methods_delete', {'id': method.id}) }}">Delete</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2">No Methods Defined!!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
