{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit Payment Method{% endblock %}

{% block body %}

    <h2>{{ data.id ? 'Editar Payment method' : 'Nuevo Payment method' }}</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="pull-right">
        <button type="submit" class="btn btn-default btn-success">Guardar</button>
        <a class="btn btn-default" href="{{ path('payment-methods') }}">Cancelar</a>
    </div>
    {{ form_end(form) }}


{% endblock %}
