<div class="btn-group btn-group-lg py-3">
    <a href="{{ path('pagos-por-ano') }}" class="btn btn-success" title="Pagos por año">
        <span class="oi oi-document"></span>
    </a>
    <a href="{{ path('cobrar') }}" class="btn btn-success" title="Cobrar alquileres">
        <span class="oi oi-home"></span>
    </a>
    <a href="{{ path('pay-day') }}" class="btn btn-success" title="Ingresar Pagos">
        <span class="oi oi-dollar"></span>
    </a>
    <a href="{{ path('planillas-mail') }}" class="btn btn-primary" title="Mail Planillas">
        <span class="oi oi-envelope-closed"></span>
    </a>
    <a href="{{ path('backup') }}" class="btn btn-info" title="Backup">
        <span class="oi oi-cloud-download"></span>
    </a>
</div>
{% set theyOweYou = 0 %}
<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th class="text-center">Local</th>
        <th>Destino</th>
        <th>Cliente</th>
        <th class="text-right">Saldo</th>
        <th class="text-left">Meses</th>
    </tr>
    </thead>
    <tbody>
    {% for balance in balances %}
        {% if balance.store.user %}
            {% set mesesDebt = balance.amount / balance.store.valAlq|conIva %}
            <tr>
                <td class="text-center">{{ balance.store.id }}</td>
                <td>
                    <a href="{{ path('store-transactions', {'id': balance.store.id}) }}">{{ balance.store.destination }}</a>
                </td>
                <td>{{ balance.store.user.name }}</td>
                <td class="text-right">{{ balance.amount|price|raw }}</td>
                <td class="text-left">{{ mesesDebt|invert|round(1, 'ceil') }}</td>
            </tr>
            {% set theyOweYou = theyOweYou + balance.amount %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<div class="card-footer">
    <h3 class="text-right">Sie schulden dir: $ {{ theyOweYou|price|raw }}</h3>
</div>
<div class="row">
    <div class="col">
        {{ render_chart(chartBalances) }}
    </div>
    <div class="col">
        {{ render_chart(chartMonthsDebt) }}
    </div>
</div>
