{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ _('About') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/default/background.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ _('About') }}</h1>
        <p class="lead">{{ _('This site is for the clients of the "MiniCC KuKu" - Atacames - Ecuador') }}</p>
    </div>
{% endblock %}
