{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ _('Contact') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/default/background.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1><span class="oi oi-person"></span> {{ _('Contact') }}</h1>
        <p>{{ _('Visit us at Atacames Beach') }}</p>
        <code>=;)</code>
    </div>
{% endblock %}
