{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% if not app.user %}
        <script>
            $('html').addClass('bg-atacames');
            $('#main-container').remove();
            $('#app-layout').css({'padding': '0'});
        </script>
    {% endif %}
    {% if app.user and app.user.role == 'ROLE_ADMIN' %}
        <script type="text/javascript" src="{{ asset('build/js/index-charts.js') }}"></script>
        <script>
            drawChart('chart1', 'Meses de deuda', [{{ chart_headers|raw }}], [{{ chart_data1 }}]);
            drawChart('chart2', 'Saldo en $', [{{ chart_headers|raw }}], [{{ chart_data2 }}]);
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        {% if app.user.role == 'ROLE_ADMIN' %}
            {% set theyOweYou = 0 %}
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th class="text-center">Local</th>
                    <th>Destino</th>
                    <th>Inquilino</th>
                    <th class="text-right">Saldo</th>
                    <th class="text-left">Meses</th>
                </tr>
                </thead>
                <tbody>
                {% for saldo in saldos %}
                    {% if saldo.data.store.user %}
                        {% set mesesDebt = saldo.amount / saldo.data.store.valAlq|conIva %}
                        <tr>
                            <td class="text-center">{{ saldo.data.store.id }}</td>
                            <td>
                                <a href="{{ path('store-transactions', {'id': saldo.data.store.id}) }}">{{ saldo.data.store.destination }}</a>
                            </td>
                            <td>{{ saldo.data.store.user.name }}</td>
                            <td class="text-right">{{ saldo.amount|price|raw }}</td>
                            <td class="text-left">{{ mesesDebt|invert|round(1, 'ceil') }}</td>
                        </tr>
                        {% set theyOweYou = theyOweYou + saldo.amount %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer">
                <h3 class="text-right">Sie schulden dir: $ {{ theyOweYou|price|raw }}</h3>
            </div>
            <div class="row">
                <div class="col-sm">
                    <canvas id="chart2" width="300" height="150"></canvas>
                </div>
                <div class="col-sm">
                    <canvas id="chart1" width="300" height="150"></canvas>
                </div>
            </div>
        {% else %}
            <div class="panel-heading">Bienvenido {{ app.user.name }}</div>
            {% if stores.count() %}
                <table class="table">
                    <tr>
                        <th>Numero</th>
                        <th>Destino</th>
                        <th>Saldo</th>
                    </tr>
                    {% for store in stores %}
                        <tr>
                            <td>{{ store.id }}</td>
                            <td>{{ store.destination }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4>Usted no tiene ningun local asignado!</h4>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
