{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Cobrar alquileres{% endblock %}

{% block body %}
    <h1>Cobrar Alquileres</h1>
    {% if stores is empty %}
        <div class="alert alert-danger">No stores defined</div>
    {% else %}
        <form method="post" action="{{ path('cobrar') }}">
            <table class="table table-bordered table-sm table-hover">
                <thead>
                <tr>
                    <th class="text-center">Local</th>
                    <th>Destino</th>
                    <th>Inquilino</th>
                    <th>Monto</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for store in stores %}
                    {% set total = total + store.valAlq|conIva %}
                    <tr>
                        <td class="text-center">{{ store.id }}</td>
                        <td>{{ store.destination }}</td>
                        <td>{{ store.user ? store.user.name|short_name : 'desocupado' }}</td>
                        <td>
                            {% if store.user %}
                                <input type="hidden" name="users[{{ store.id }}]"
                                       value="{{ store.user ? store.user.id : 0 }}"/>
                                <input class="form-control" type="text" name="values[{{ store.id }}]"
                                       value="{{ store.valAlq|conIva|round(2) }}" size="7"
                                       maxlength="7">
                            {% else %}
                                :(
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <label for="date_cobro">Fecha de Cobro</label>
                    </td>
                    <td>
                        <input name="date_cobro" id="date_cobro" type="date" class="form-control"
                               value="{{ 'now'|format_datetime(pattern="y-MM-01") }}"
                               required="required"/>
                    </td>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-success">
                            <h2 style="color: yellow">Total: {{ total|format_currency('USD') }}</h2>
                            A Cobrar...!
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    {% endif %}
{% endblock %}
