{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Pay Day{% endblock %}

{% block body %}

    <h1>Pay Day 2</h1>

    <div {{ stimulus_controller('payday2', { lastRecipeNo: lastRecipeNo, paymentMethods: paymentMethodsString }) }}>

        <button data-action="payday2#showModal" class="btn btn-primary">
            Add Payment
        </button>

        {{ include('admin/payday/template.html.twig') }}


        <form method="post" action="{{ path('pay-day2') }}">

            <div data-payday2-target="body"></div>

            <div class="text-end">
                <button type="submit" class="btn btn-outline-success">A Cobrar</button>
            </div>

        </form>

        {{ include('admin/payday/modal.html.twig') }}

    </div>
{% endblock %}
