{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - {{ _('Pay Day') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/admin/payday.js') }}"></script>
{% endblock %}

{% block body %}
    <span id="lookup-url" data-lookup-url="{{ path('lookup-depo') }}"></span>

    <div class="row">
        <div class="col-xs-4">
            <h1>{{ _('Pay Day') }}</h1>
        </div>
        <div class="col-xs-8" id="messageContainer">
        </div>
    </div>

    <form method="post" action="{{ path('pay-day') }}">
        <table id="paymentsTable">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Local</th>
                <th>Forma</th>
                <th>Documento</th>
                <th></th>
                <th>DepId</th>
                <th>Factura</th>
                <th>Monto</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input class="form-control" name="payments[date_cobro][]" type="date" size="9">
                </td>
                <td width="10%">
                    <select class="form-control" name="payments[store][]">
                        <option>Local</option>
                        {% for store in stores %}
                            <option value="{{ store.id }}">
                                {{ store.id }}
                                - {{ store.destination }}
                                - {{ store.user.name|short_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-control" name="payments[method][]">
                        {% for method in paymentMethods %}
                            <option value="{{ method.id }}">{{ method.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="form-control" name="payments[document][]" type="text" size="7">
                </td>
                <td>
                    <button type="button" class="btn btn-warning searchDepId">
                        <span class="oi oi-magnifying-glass"></span>
                    </button>
                </td>
                <td>
                    <input class="form-control" name="payments[depId][]" type="text" size="7">
                </td>
                <td>
                    <input class="form-control" name="payments[recipe][]" type="text" size="7">
                </td>
                <td>
                    <input class="form-control" name="payments[amount][]" type="text" size="7">
                </td>
                <td>
                    <button type="button" class="btn btn-info addRow">
                        <span class="oi oi-plus"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="card-footer">
            <button type="submit" class="btn btn-success">A Cobrar</button>
        </div>

    </form>
{% endblock %}
