{% extends 'base-pdf.html.twig' %}
{% block stylesheets %}
<style>
    body {
        font-size: 12px;
    }
    td.gran-total {
        border: 2px solid black;
        padding: 4px;
        font-size: 1.4em;
    }
</style>

{% endblock %}

{% block body %}
    {% for store in stores %}
        {% if store.user %}
            {% set saldoIni = storeData[store.id].saldoIni - store.valAlq|conIva %}
            <div style="page-break-inside: avoid;">
            <hr/>
            <table>
                <tr>
                    <td style="width: 10%; white-space: nowrap;">
                        Local {{ store.id }} - {{ store.destination }}<br/>
                        Inquilino: {{ store.user.name }}<br/>
                        Alquiler mensual: $ {{ store.valAlq|conIva|price|raw }}<br/>
                    </td>
                    <td style="text-align: center">
                        <span style="font-size: 2em;">Planilla</span><br/>
                        {{ intlDate(factDate, "d 'de' MMMM YYYY") }}
                    </td>
                    <td style="text-align: right; width: 10%; white-space: nowrap;">
                        <img src="{{ rootPath ~ asset('build/images/minicc-logo.gif') }}" alt="Logo" height="50px"/><br/>
                    </td>
                </tr>
            </table>
            <hr/>
            <table>
                <tr valign="top">
                    <td width="50%">
                        <table>
                            <tr>
                                <th>Movimientos de {{ intlDate(prevDate, 'MMMM') }}</th>
                            </tr>
                            <tr>
                                <td colspan="2">Saldo al {{ intlDate(prevDate, "d 'de' MMMM") }}</td>
                                <td class="text-right">{{ saldoIni|invert|price|raw }}</td>
                            </tr>
                            {% for transaction in storeData[store.id].transactions %}
                                {% set saldoIni = saldoIni + transaction.amount %}
                                <tr>
                                    <td>{{ intlDate(transaction.date, "d 'de' MMMM") }}</td>
                                    <td>{{ transaction.type.name }}</td>
                                    <td class="text-right">{{ transaction.amount|invert|price|raw }}</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="3" align="center">No hubo pagos!</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2">Saldo de {{ intlDate(prevDate, 'MMMM') }}</td>
                                <td class="text-right"
                                    style="border-top: 1px solid silver">{{ saldoIni|invert|price|raw }}</td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%" style="padding-left: 10px">
                        <table>
                            <tr>
                                <td>Saldo de {{ intlDate(prevDate, 'MMMM') }}</td>
                                <td class="text-right">{{ saldoIni|invert|price|raw }}</td>
                            </tr>
                            <tr>
                                <td>Alquiler de {{ intlDate(factDate, 'MMMM') }}</td>
                                <td class="text-right">{{ store.valAlq|conIva|price|raw }}</td>
                            </tr>
                            <tr>
                                <td>Saldo a pagar</td>
                                <td class="text-right gran-total">
                                    $ {{ (saldoIni - store.valAlq|conIva)|invert|price|raw }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="font-size: 1.3em">Meses de
                                    deuda: {{ (-(saldoIni - store.valAlq|conIva) / store.valAlq|conIva)|round(1) }}</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
            <hr/>
            Para depositos utilice la cuenta de ahorros del Banco del Pichincha No. 390 356 3900 a nombre de Nikolai Plath.
            <hr/>
            <br/>
        {% endif %}
        </div>
    {% endfor %}

{% endblock %}
