{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Admin Tasks{% endblock %}

{% block body %}
    <h1>Admin Tasks</h1>

    <div class="card-columns">
        <div class="card">
            <h5 class="card-header">Documentos</h5>

            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('planillas') }}">Download Planillas</a></li>
                <li class="list-group-item"><a href="{{ path('planillas-mail') }}">Mail Planillas</a></li>
                <li class="list-group-item"><a href="{{ path('stores-transactions-pdf') }}">Transactions PDF</a></li>
            </ul>
            <form action="{{ path('mail-annual-transactions') }}">
                Send all transactions for year

                <select name="year">
                    {% for i in currentYear..2010 %}
                        <option>{{ i }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Send</button>

            </form>
        </div>
        <div class="card">
            <h5 class="card-header">Sync</h5>
            <h6 class="card-header">Export</h6>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('backup') }}">Send Backup per e-mail</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('export-table', {'name': 'transaction'}) }}">Export Transactions</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('export-table', {'name': 'deposit'}) }}">Export Depositos</a>
                </li>
            </ul>

            <h6 class="card-header">Import</h6>
            <form enctype="multipart/form-data" method="post" class="form" action="{{ path('import-table') }}">
                <div class="form-group">
                    <input name="file" type="file" class="form-control"/>
                    <button type="submit" class="btn btn-primary">Upload Export</button>
                </div>
            </form>
        </div>
        <div class="card">
            <h5 class="card-header">View</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ path('console-view', {'item': 'routes'}) }}">Routes</a></li>
                <li class="list-group-item">
                    <form enctype="multipart/form-data" method="post" class="form"
                          action="{{ path('console-view', {'item': 'route-match'}) }}">
                        <div class="form-group">
                            <label>Route</label>
                            <input name="route" type="text" class="form-control"/>
                            <button type="submit" class="btn btn-primary">Check</button>
                        </div>
                    </form>
                </li>
                <li class="list-group-item"><a href="{{ path('console-view', {'item': 'migrations'}) }}">Migrations</a>
                </li>
                <li class="list-group-item"><a href="{{ path('console-view', {'item': 'security'}) }}">Security
                        check</a></li>
            </ul>
        </div>
    </div>


    {% if consoleOutput is defined %}
        <h2>Console output</h2>
        <ul>
            {% for name, value in consoleCommand %}
                <li><b>{{ name }}</b> - <code>{{ value }}</code></li>
            {% endfor %}
        </ul>
        <pre class="console">{{ consoleOutput }}</pre>
    {% endif %}

{% endblock %}
