<div
        {{ stimulus_target('payday', 'modal') }}
        {{ stimulus_controller('deposit-lookup', {
            urlSearch: path('deposits_search'),
            urlLookup: path('deposits_lookup'),
        }) }}
        class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Payment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input
                        {{ stimulus_target('payday', 'modalDate') }}
                        class="form-control" type="date"
                        data-deposit-lookup-target="date"
                        placeholder="Date"
                >
                <select
                        {{ stimulus_target('payday', 'modalStore') }}
                        class="form-control"
                >
                    <option value="0">Local</option>
                    {% for store in stores %}
                        <option value="{{ store.id }}">
                            {{ store.id }} - {{ store.destination }}
                            - {{ store.user ? store.user.name|short_name : 'n/a' }}
                        </option>
                    {% endfor %}
                </select>
                <div class="row">
                    <div class="col-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input
                                    {{ stimulus_target('payday', 'modalAmount') }}
                                    {{ stimulus_target('deposit-lookup', 'amount') }}
                                    class="form-control form-control-lg"
                                    placeholder="Amount"
                                    type="number"
                                    list="amountOptions"
                            >
                            <datalist id="amountOptions">
                                <option value="50">
                                <option value="100">
                                <option value="150">
                            </datalist>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating mb-3">
                            <input
                                    {{ stimulus_target('payday', 'modalRecipe') }}
                                    class="form-control form-control-sm" type="text">
                            <label>Factura</label>
                        </div>


                    </div>
                </div>

                <hr>

                <select
                        {{ stimulus_target('payday', 'modalMethod') }}
                        class="form-control"
                        data-deposit-lookup-target="method"
                >
                    {% for method in paymentMethods %}
                        <option value="{{ method.id }}">{{ method.name }}</option>
                    {% endfor %}
                </select>
                <div class="row">
                    <div class="col">
                        <input
                                {{ stimulus_target('payday', 'modalDocument') }}
                                data-action="deposit-lookup#onSearchInput keydown->deposit-lookup#onKeydown"
                                data-deposit-lookup-target="document"
                                class="form-control" type="text">
                        <div
                                class="search-preview"
                                data-deposit-lookup-target="result"
                        >
                        </div>
                    </div>
                    <div class="col">
                        <input
                                {{ stimulus_target('payday', 'modalDeposit') }}
                                data-deposit-lookup-target="depid"
                                class="form-control" type="text" readonly>
                    </div>
                </div>

                <hr>

                <input
                        {{ stimulus_target('payday', 'modalComment') }}
                        class="form-control" type="text"
                        placeholder="Comment"
                >
                <input
                        {{ stimulus_target('payday', 'modalIsEdit') }}
                        type="hidden"
                        value="0"
                >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-action="payday#saveModal">Guardar</button>
            </div>
        </div>
    </div>
</div>
