<div style="display: none">
    <div class="card" data-payday2-target="row"
            {{ stimulus_controller('deposit-lookup', {
                urlSearch: path('deposito_search'),
                urlLookup: path('deposito_lookup'),
            }) }}>
        <div class="row g-0">
            <div class="col">
                <input class="form-control" name="payments[date_cobro][]" type="date"
                       data-action="payday2#changeDate"
                       data-deposit-lookup-target="date"
                >
            </div>
            <div class="col">
                <select class="form-control" name="payments[store][]">
                    <option value="0">Local</option>
                    {% for store in stores %}
                        <option value="{{ store.id }}">
                            {{ store.id }} - {{ store.destination }}
                            - {{ store.user ? store.user.name|short_name : 'n/a' }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input class="form-control" name="payments[amount][]" type="text" size="7"
                       data-deposit-lookup-target="amount"
                >
            </div>
            <div class="col">
                <input class="form-control" name="payments[recipe][]" type="text" size="7"
                       value="{{ lastRecipeNo }}">
            </div>
            <div class="col">
                <select class="form-control" name="payments[method][]"
                        data-deposit-lookup-target="method"
                >
                    {% for method in paymentMethods %}
                        <option value="{{ method.id }}">{{ method.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">b</div>
            <div class="col">b</div>
            <div class="col">b
                <div
                        class="search-preview"
                        data-deposit-lookup-target="result"
                >
                </div>
            </div>
        </div>


    </div>

    <div class="row no-gutters"
         data-payday-target="row"
            {{ stimulus_controller('deposit-lookup', {
                urlSearch: path('deposito_search'),
                urlLookup: path('deposito_lookup'),
            }) }}
    >
        <div class="col-2">
            <input class="form-control" name="payments[date_cobro][]" type="date" size="9"
                   data-action="payday#changeDate"
                   data-deposit-lookup-target="date"
            >
        </div>
        <div class="col-2">
            <select class="form-control" name="payments[store][]">
                <option value="0">Local</option>
                {% for store in stores %}
                    <option value="{{ store.id }}">
                        {{ store.id }} - {{ store.destination }}
                        - {{ store.user ? store.user.name|short_name : 'n/a' }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-1 text-monospace">
            <input class="form-control" name="payments[amount][]" type="text" size="7"
                   data-deposit-lookup-target="amount"
            >
        </div>
        <div class="col-1">
            <input class="form-control" name="payments[recipe][]" type="text" size="7"
                   value="{{ lastRecipeNo }}">
        </div>


        <div class="col-1">
            <select class="form-control" name="payments[method][]"
                    data-deposit-lookup-target="method"
            >
                {% for method in paymentMethods %}
                    <option value="{{ method.id }}">{{ method.name }}</option>
                {% endfor %}
            </select>
        </div>


        <div class="col-2">
            <input
                    data-action="deposit-lookup#onSearchInput keydown->deposit-lookup#onKeydown"
                    data-deposit-lookup-target="document"
                    class="form-control" name="payments[document][]" type="text" size="7">
            <div
                    class="search-preview"
                    data-deposit-lookup-target="result"
            >
            </div>
        </div>

        <div class="col-1">
            <input
                    data-deposit-lookup-target="depid"
                    class="form-control" name="payments[depId][]" type="text" size="7">
        </div>
        <div class="col-2">
            <input class="form-control" name="payments[comment][]" type="text" size="7">
        </div>
    </div>{# row #}
</div>
