{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit Store{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/taxcalc') }}
{% endblock %}

{% block body %}

    <span id="tax-rate" data-tax-rate="{{ ivaMultiplier }}"></span>

    {{ form_start(form) }}

    <div class="pull-right">
        <button type="submit" class="btn btn-light btn-success">Guardar</button>
        <a class="btn btn-light" href="{{ path('stores-list') }}">Cancelar</a>
    </div>

    {% if store.id %}
        <h2>Edit Local {{ store.id }}</h2>
    {% else %}
        <h2>Nuevo Local</h2>
    {% endif %}

    <div class="row">
        <div class="col-sm-4">
            {{ form_label(form.destination) }}
            {{ form_widget(form.destination) }}
        </div>
        <div class="col-sm-3 alert-warning">
            {{ form_label(form.valAlq) }}<br/>
            ConIVA: <input id="val_alq_coniva"/><br/>
            <a class="btn btn-light btn-xs taxWithoutTax" data-with-tax="#val_alq_coniva"
               data-without-tax="#store_valAlq">&dArr; Recalc &dArr;</a>
            <a class="btn btn-light btn-xs taxWithTax" data-with-tax="#val_alq_coniva"
               data-without-tax="#store_valAlq">&uArr; Recalc &uArr;</a>
            <br/>
            Sin IVA
            {{ form_widget(form.valAlq) }}
        </div>
        <div class="col-sm-5">
            {{ form_label(form.user) }}
            {{ form_widget(form.user) }}
        </div>
    </div>

    <h4>Assesorios</h4>

    <div class="row">
        <div class="col-sm-2">{{ form_label(form.cntLanfort) }}
            {{ form_widget(form.cntLanfort) }}
        </div>
        <div class="col-sm-2">{{ form_label(form.cntNeon) }}
            {{ form_widget(form.cntNeon) }}
        </div>
        <div class="col-sm-2">{{ form_label(form.cntSwitch) }}
            {{ form_widget(form.cntSwitch) }}
        </div>
        <div class="col-sm-2">{{ form_label(form.cntToma) }}
            {{ form_widget(form.cntToma) }}
        </div>
        <div class="col-sm-2">{{ form_label(form.cntVentana) }}
            {{ form_widget(form.cntVentana) }}
        </div>
        <div class="col-sm-2">{{ form_label(form.cntLlaves) }}
            {{ form_widget(form.cntLlaves) }}
        </div>
    </div>

    <h4>Medidores</h4>

    <div class="row">
        <div class="col-sm-2">{{ form_label(form.cntMedElec) }}
            {{ form_widget(form.cntMedElec) }}
        </div>
        <div class="col-sm-5">{{ form_label(form.medElectrico) }}
            {{ form_widget(form.medElectrico) }}
        </div>
        <div class="col-sm-5"></div>
        <div class="row">
        </div>
        <div class="col-sm-2">{{ form_label(form.cntMedAgua) }}
            {{ form_widget(form.cntMedAgua) }}
        </div>
        <div class="col-sm-5">{{ form_label(form.medAgua) }}
            {{ form_widget(form.medAgua) }}
        </div>
        <div class="col-sm-5">
            <div class="pull-right">
                <button type="submit" class="btn btn-light btn-success">Guardar</button>
                <a class="btn btn-light" href="{{ path('stores-list') }}">Cancelar</a>
            </div>

        </div>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
