{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Stores{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="float-end">
            <a href="{{ path('stores-add') }}" class="btn btn-outline-primary">Nuevo Local</a>
        </div>
    {% endif %}

    <h1>Locales</h1>

    {% set total, totalIva = 0, 0 %}
    {% if stores is empty %}
        <div class="alert alert-warning">No hay locales!</div>
    {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th class="text-center">Numero</th>
                <th>Destino</th>
                <th>Inquilino</th>
                <th>Alquiler</th>
                <th>Alquiler + IVA</th>
            </tr>
            </thead>
            {% for store in stores %}
                <tr>
                    <td class="text-center">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('stores-edit', {'id': store.id}) }}"
                               title="Editar Local {{ store.id }}">
                                {{ store.id }}
                            </a>
                        {% else %}
                            {{ store.id }}
                        {% endif %}

                    </td>
                    <td>
                        <a href="{{ path('store-transactions', {'id': store.id}) }}"
                           title="Transaciones del local {{ store.id }}">
                            {{ store.destination }}
                        </a>
                    </td>
                    <td>{{ store.user ? store.user.name : '** Desocupado **' }}</td>
                    <td class="text-end">{{ store.valAlq|price|raw }}</td>
                    <td class="text-end">{{ store.valAlq|conIva|price|raw }}</td>
                </tr>
                {% set total = total + store.valAlq %}
                {% set totalIva = totalIva + store.valAlq|conIva %}
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td class="text-end fw-bold">{{ total|price|raw }}</td>
                <td class="text-end fw-bold">{{ totalIva|price|raw }}</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
