{% extends 'base.html.twig' %}

{% import '_formfields.html.twig' as field %}

{% block title %} {{ parent() }} - About{% endblock %}

{% block body %}
    <div class="float-end">

        <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample" role="button">Nuevo</a>
        <a class="btn btn-outline-secondary" href="{{ path('contracts-template') }}">Plantilla</a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form action="{{ path('contracts-new') }}" method="post" class="form-inline">
                    <select required="required" class="form-control form-control-sm" name="store">
                        <option value="">Local ...</option>
                        {% for store in stores %}
                            <option value="{{ store.id }}">{{ store.id }} - {{ store.destination }}</option>
                        {% endfor %}
                    </select>
                    <select required="required" class="form-control form-control-sm" name="user">
                        <option value="">Usuario ...</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-success" type="submit">Crear</button>
                </form>
            </div>
        </div>


    </div>
    <h2>Contratos</h2>

    <form method="post">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    <select class="form-control form-control-sm" name="store_id" onchange="form.submit()">
                        <option value="0">Local ...</option>
                        {% for store in stores %}
                            <option value="{{ store.id }}"{{ store.id == storeId ? ' selected="selected"' : '' }}>
                                {{ store.id }} - {{ store.destination }}
                            </option>
                        {% endfor %}
                    </select>
                    Local
                </th>
                <th>
                    {{ field.selectYear(year) }}
                    Fecha
                </th>
                <th>Inquilino</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.storeNumber }}</td>
                    <td>{{ intlDate(contract.date) }}</td>
                    <td>{{ contract.inqNombreapellido }}</td>
                    <td>
                        <a href="{{ path('contracts-edit', {'id': contract.id}) }}">Edit</a>
                        <a href="{{ path('contract-generate', {'id': contract.id}) }}">Generate</a>
                        <a href="{{ path('contracts-delete', {'id': contract.id}) }}">Delete</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="alert-warning text-center">No hay contractos definidos!!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

{% endblock %}
