<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('welcome') }}">MiniCC KuKu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <ul class="nav navbar-nav">

                <li class="nav-item"><a class="nav-link" href="{{ path('about') }}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('contact') }}">Contact</a></li>

                {% if app.user and app.user.role == 'ROLE_ADMIN' %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('pay-day') }}">Pay Day</a>
                            <a class="dropdown-item" href="{{ path('cobrar') }}">Cobrar Alquileres</a>
                            <a class="dropdown-item" href="{{ path('admin-tasks') }}">Tasks</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">etcr</h6>
                            <a class="dropdown-item" href="{{ path('pagos-por-ano') }}">Pagos por Año</a>
                            <a class="dropdown-item" href="{{ path('transaction-rawlist') }}">Transactions RAW</a>
                            <a class="dropdown-item" href="{{ path('deposits') }}">Depositos</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">System</h6>
                            <a class="dropdown-item" href="{{ path('sysinfo') }}">Info</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">Setup</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('stores-list') }}">Locales</a>
                            <a class="dropdown-item" href="{{ path('users-list') }}">Inquilinos</a>
                            <a class="dropdown-item" href="{{ path('contract-list') }}">Contratos</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Params</h6>
                            <a class="dropdown-item" href="{{ path('payment-methods') }}">Payment Methods</a>
                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>

        <div class="ml-auto">
            <ul class="nav navbar-nav">
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" accesskey="l" href="{{ path('logout') }}">Salir</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" accesskey="l" href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
