{% if app.user %}
    <select name="userswitch" id="userSwitch" class="form-control col-sm-2 btn-dark">
        {% if is_granted('IS_IMPERSONATOR') %}
            <option value="{{ path('welcome', {'_switch_user': '_exit'}) }}">EXIT</option>
        {% else %}
            <option value="">Switch user...</option>
        {% endif %}
        {% for user in systemUsers %}
            {% set uri = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'_switch_user': user.identifier }))) %}
            {% set selected = '' %}
            {% if is_granted('IS_IMPERSONATOR') %}
                {% if user.identifier == app.user.identifier %}
                    {% set selected = ' selected="selected"' %}
                {% endif %}
            {% endif %}
            <option value="{{ uri }}" {{ selected }}>
                {{ user.name }} ({{ user.identifier }})
            </option>
        {% endfor %}
    </select>
{% endif %}
