{% if 'dev' == app_env and app.user %}
    <select name="userswitch" id="userSwitch" class="ms-auto form-select-sm">
        {% if is_granted('IS_IMPERSONATOR') %}
            <option value="{{ path('welcome', {'_switch_user': '_exit'}) }}">EXIT</option>
        {% else %}
            <option value="">Switch user...</option>
        {% endif %}
        {% for user in findSystemUsers() %}
            {% set uri = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'_switch_user': user.userIdentifier }))) %}
            {% set selected = '' %}
            {% if is_granted('IS_IMPERSONATOR') %}
                {% if user.userIdentifier == app.user.userIdentifier %}
                    {% set selected = ' selected="selected"' %}
                {% endif %}
            {% endif %}
            <option value="{{ uri }}" {{ selected }}>
                {{ user.name|short_name }} ({{ user.userIdentifier }})
            </option>
        {% endfor %}
    </select>
{% endif %}
