{{ form_start(form) }}

<div class="row">
    <div class="col-sm-4">
        {{ form_label(form.destination) }}
        <div class="form-widget">
            {{ form_widget(form.destination) }}
        </div>
    </div>
    <div class="col-sm-3 alert-warning" data-controller="taxcalc" data-taxcalc-taxrate-value="{{ taxValue }}">
        {{ form_label(form.valAlq) }}<br/>
        ConIVA:
        <input data-taxcalc-target="withTax" data-action="taxcalc#calcWithoutTax" type="text"/>
        <br/>
        <div class="form-widget">
            Sin IVA:
            {{ form_widget(form.valAlq, {'attr': {'data-action': 'taxcalc#calcWithTax','data-taxcalc-target':'withoutTax'}}) }}
        </div>
    </div>
    <div class="col-sm-5">
        {{ form_label(form.user) }}
        <div class="form-widget">
            {{ form_widget(form.user) }}
        </div>
    </div>
</div>

<h4>Assesorios</h4>

<div class="row">
    <div class="col-sm-2">
        {{ form_label(form.cntLanfort) }}
        <div class="form-widget">
            {{ form_widget(form.cntLanfort) }}
        </div>
    </div>
    <div class="col-sm-2">
        {{ form_label(form.cntNeon) }}
        <div class="form-widget">
            {{ form_widget(form.cntNeon) }}
        </div>
    </div>
    <div class="col-sm-2">
        {{ form_label(form.cntSwitch) }}
        <div class="form-widget">
            {{ form_widget(form.cntSwitch) }}
        </div>
    </div>
    <div class="col-sm-2">
        {{ form_label(form.cntToma) }}
        <div class="form-widget">
            {{ form_widget(form.cntToma) }}
        </div>
    </div>
    <div class="col-sm-2">
        {{ form_label(form.cntVentana) }}
        <div class="form-widget">
            {{ form_widget(form.cntVentana) }}
        </div>
    </div>
    <div class="col-sm-2">
        {{ form_label(form.cntLlaves) }}
        <div class="form-widget">
            {{ form_widget(form.cntLlaves) }}
        </div>
    </div>
</div>

<h4>Medidores</h4>

<div class="row">
    <div class="col-sm-6">
        {{ form_label(form.medElectrico) }}
        <div class="form-widget">
            {{ form_widget(form.medElectrico) }}
        </div>
    </div>
    <div class="col-sm-6">
        {{ form_label(form.medAgua) }}
        <div class="form-widget">
            {{ form_widget(form.medAgua) }}
        </div>
    </div>
</div>

{{ form_end(form) }}
