{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Login{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/login.js') }}"></script>
    <script>
        $('#app-layout').addClass('bg-atacames');
    </script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Login</h1>
        <form class="form-horizontal" role="form" method="post" action="{{ path('login') }}">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="username" class="col-md-4 control-label">Nombre usuario</label>
                <input id="username" class="form-control col-md-4" name="_username" value="{{ last_username }}">
            </div>

            <div class="form-group">
                <label for="password" class="col-md-4 control-label">Clave de acceso</label>
                <input id="password" type="password" class="form-control col-md-4" name="_password">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Ingresar
                </button>
            </div>
        </form>
    </div>
{% endblock %}
