{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/auth/login.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Login</h1>
        <form class="form-horizontal" role="form" method="post" action="{{ path('login') }}">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endif %}

            {% if 'dev' == app.environment %}

                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">e-mail</label>
                    <input id="email" class="form-control col-md-4" name="email" value="{{ last_username }}" autofocus>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

            {% else %}
                <div class="signin-providers">
                    @TODO
                    {#                    <a href="{{ path('connect_google_start') }}" class="signin-provider-google">{{ 'Google Login'|trans }}</a>#}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
