{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Login{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/default/background.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Login</h1>
        <form class="form-horizontal" role="form" method="post" action="{{ path('login') }}">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endif %}

            {% if 'dev' == app.environment %}
                <div class="form-group">
                    <label for="email" class="col-md-4 control-label">e-mail</label>
                    <input id="email" class="form-control col-md-4" name="email" value="{{ last_username }}" required
                           autofocus>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            {% else %}
            {% endif %}
        </form>

        <div class="signin-providers">
            <a href="{{ path('connect_google_start') }}" class="btn btn-primary">
                <span class="fa-google-plus-square"></span>
                {{ 'Login'|trans }}
            </a>
        </div>

    </div>
{% endblock %}
