{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Editar Usuario{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary float-end" href="{{ path('users_index') }}" title="Regresar">
        <span class="oi oi-arrow-left"></span>
    </a>

    <h2>{{ data.id ? 'Editar Cliente' : 'Nuevo Cliente' }}</h2>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-2">{{ form_row(form.gender) }}</div>
        <div class="col-sm-8">{{ form_row(form.name) }}</div>
        <div class="col-sm-2">{{ form_row(form.isActive) }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(form.inqCi) }}</div>
        <div class="col-6">{{ form_row(form.inqRuc) }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(form.telefono) }}</div>
        <div class="col-6">{{ form_row(form.telefono2) }}</div>
    </div>

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-outline-success" title="Guardar">
        <span class="oi oi-check"></span>
    </button>

    {{ form_end(form) }}

{% endblock %}
