{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Users {% endblock %}

{% block body %}
    <div class="float-end">
        <a href="{{ path('users_create') }}" class="btn btn-outline-primary">Nuevo</a>
        <a href="{{ path('download_users_list') }}" class="btn btn-outline-secondary">Lista PDF</a>
        <a href="{{ path('download_users_ruc_list') }}" class="btn btn-outline-secondary">Lista RUC</a>
    </div>

    <h1>Clientes</h1>

    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>
                <form method="post">
                    <select class="form-control" name="user_active" onchange="form.submit()">
                        <option value="">Estado...</option>
                        <option value="0"{{ 0 == userActive ? ' selected="selected"' : '' }}>Inactivo</option>
                        <option value="1"{{ 1 == userActive ? ' selected="selected"' : '' }}>Activo</option>
                    </select>
                </form>
            </th>
            <th>Gen</th>
            <th>Nombre</th>
            <th>Locales</th>
        </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td><span class="oi oi-{{ user.isActive ? 'check' : 'x' }}"></span></td>
                <td>{{ user.gender.title }}</td>
                <td><a href="{{ path('users_edit', {'id': user.id}) }}">{{ user.name }}</a></td>
                <td>
                    {% for store in user.stores %}
                        <a href="{{ path('stores_transactions', {'id': store.id}) }}">
                            # {{ store.id }}
                        </a>
                    {% else %}
                        N/A
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="alert alert-warning text-center">No hay usuarios que mostrar!</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
