{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Mail Cobros COntador{% endblock %}

{% block body %}
    <h1>Mail Cobros Contador</h1>
    <form method="post">
    <label>
        <select name="month" onchange="this.form.submit()">
            {% for m in 1..12 %}
                <option value="{{ m }}"{% if m == month %} selected{% endif %}>{{ m }}</option>
            {% endfor %}
        </select>
        Month
    </label>
    <label>
        <select name="year" onchange="this.form.submit()">
            {% for y in 2020..'now' | date('Y') %}
                <option value="{{ y }}"{% if y == year %} selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
        Year
    </label>
    {% if payments is empty %}
        <div class="alert alert-danger">No payments to show defined</div>
    {% else %}
        {% set total = 0 %}
        <table
                {{ stimulus_controller('checkbox-select-all') }}
        >
            <tr>
                <th>Fecha</th>
                <th class="text-center">Local</th>
                <th>Inquilino</th>
                <th>Monto</th>
                <th>Send
                    <label>
                        <input
                                type="checkbox"
                                {{ stimulus_target('checkbox-select-all', 'checkboxAll') }}
                        />
                        <span>All</span>
                    </label>
                </th>
            </tr>
            {% for payment in payments %}
                <tr
                        {% if loop.index < payments|length
                            and payments[loop.index].date != payment.date
                            or loop.index == payments|length %}
                            class="tr-underlined"
                        {% endif %}
                >
                    <td>{{ payment.date|date("d-m") }}</td>
                    <td class="text-center">{{ payment.store.id }}</td>
                    <td>{{ payment.user.name }}</td>
                    <td class="text-end amount">{{ payment.amount }}</td>
                    <td>
                        <label>
                            <input type="checkbox" name="ids[]" value="{{ payment.id }}"
                                    {{ stimulus_target('checkbox-select-all', 'checkbox') }}
                            >Send
                        </label>
                    </td>
                </tr>
                {% set total = total + payment.amount %}
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td class="text-end">Total:</td>
                <td class="text-end amount">{{ total|number_format(2) }}</td>
            </tr>
        </table>

        <hr>

        <button type="submit" class="btn btn-outline-success">Send mails</button>

        </form>
    {% endif %}
{% endblock %}

