<h2>Movimientos del ano {{ year }}</h2>
<p>Estimad{{ user.gender.id == 1 ? 'o' : 'a' }} {{ user.gender.name }} {{ user.name }},<br>
    adjunto los movimientos de su local No {{ store.id }} - {{ store.destination }}.
</p>
<p>
    Por favor reviselos y comuniquenos cualquier inquietud.
</p>
<p>
    Attentamente,<br>
    MiniCC KuKu
</p>
<p>
    ----------------------------------------------------------------<br>
    <b>Archivo adjunto</b>: {{ fileName }}
</p>
