<h2>Su planilla de {{ intlDate(factDate, "MMMM YYYY")|capitalize }}</h2>
<p>Estimad{{ user.gender.id == 1 ? 'o' : 'a' }} {{ user.gender.name }} {{ user.name }},<br>
    adjunto la planilla del mes de {{ intlDate(factDate, "MMMM YYYY")|capitalize }} de su local No {{ store.id }}
    - {{ store.destination }}.
</p>
<p>
    Por favor revisela y comuniquenos cualquier inquietud dentro de los proximos 14 dias.
</p>
<p>
    Attentamente,<br>
    MiniCC KuKu
</p>
----------------------------------------------------------------<br>
<b>Archivo adjunto</b>: {{ fileName }}
