{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Editar Usuario{% endblock %}

{% block body %}

    {{ form_start(form) }}

    <div class="pull-right">
        <button type="submit" class="btn btn-light btn-success">Guardar</button>
        <a class="btn btn-light" href="{{ path('users-list') }}">Cancelar</a>
    </div>

    <h2>Editar Usuario</h2>

    {{ form_widget(form) }}

    <div class="pull-right">
        <button type="submit" class="btn btn-light btn-success">Guardar</button>
        <a class="btn btn-light" href="{{ path('users-list') }}">Cancelar</a>
    </div>

    {{ form_end(form) }}

{% endblock %}
