{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Users {% endblock %}

{% block body %}
    <div class="float-end">
        <a href="{{ path('register') }}" class="btn btn-outline-primary">Nuevo</a>
        <a href="{{ path('pdf-users') }}" class="btn btn-outline-secondary">Lista PDF</a>
        <a href="{{ path('users-ruclist') }}" class="btn btn-outline-secondary">Lista RUC</a>
    </div>

    <h1>Clientes</h1>

    <form method="post" action="{{ path('users-list') }}">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>
                    <select class="form-control" name="user_state" id="user_state" onchange="form.submit()">
                        <option value="0">Estado...</option>
                        {% for state in states %}
                            <option value="{{ state.id }}"{{ state.id == userState ? ' selected="selected"' : '' }}>
                                {{ state.name }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th>Gen</th>
                <th>Nombre</th>
                <th>Locales</th>
            </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td>{{ user.state ? user.state.name : '?' }}</td>
                    <td>{{ user.gender ? user.gender.name : '?' }}</td>
                    <td><a href="{{ path('user-edit', {'id': user.id}) }}">{{ user.name }}</a></td>
                    <td>
                        {% for store in user.stores %}
                            <a href="{{ path('store-transactions', {'id': store.id}) }}">
                                # {{ store.id }}
                            </a>
                        {% else %}
                            N/A
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="alert alert-warning text-center">No hay usuarios que mostrar!</td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}
