{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit Transaction{% endblock %}

{% block body %}
    {{ form_start(form, {attr:stimulus_controller(
        'deposit-lookup', {
            urlSearch: path('deposito_search'),
            urlLookup: path('deposito_lookup'),
        }
    ).toArray()}) }}

    <div class="float-end">
        <button type="submit" class="btn btn-outline-success">Guardar</button>
        <a class="btn btn-outline-secondary" href="{{ redirect }}">Cancelar</a>
        <a class="btn btn-outline-danger"
           href="{{ path('transaction-delete', {'id': form.vars.data.id, 'view': redirect}) }}">Delete</a>
    </div>

    <h3>Editar Transacion</h3>

    <div class="row">
        <div class="col-sm-3">
            {{ form_label(form.date) }}
            {{ form_widget(form.date, {attr:{'data-deposit-lookup-target':'date'}}) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.amount) }}
            {{ form_widget(form.amount, {attr:stimulus_target('deposit-lookup', 'amount').toArray()}) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.recipeNo) }}
            {{ form_widget(form.recipeNo) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_label(form.store) }}
            {{ form_widget(form.store) }}
        </div>
        <div class="col-sm-6">
            {{ form_label(form.user) }}
            {{ form_widget(form.user) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            {{ form_label(form.method) }}
            {{ form_widget(form.method, {attr:{'data-deposit-lookup-target':'method'}}) }}
        </div>
        <div class="col-sm-4">
            {{ form_label(form.document) }}
            {{ form_widget(form.document, {attr:
                stimulus_target('deposit-lookup', 'document')
                |stimulus_action('deposit-lookup','onSearchInput')
                |stimulus_action('deposit-lookup','onKeydown', 'keydown')
                    .toArray()
            }) }}
            <div
                    class="search-preview"
                    {{ stimulus_target('deposit-lookup', 'result') }}
            >
            </div>
        </div>
        <div class="col-sm-4">
            {{ form_label(form.depId) }}
            {{ form_widget(form.depId, {attr:{'data-deposit-lookup-target':'depid'}}) }}
        </div>
    </div>

    {{ form_widget(form) }}

    <input type="hidden" name="redirect" value="{{ redirect }}"/>

    {{ form_end(form) }}

{% endblock %}

