{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Edit Transaction{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/transaction/form.js') }}"></script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div class="float-end">
        <button type="submit" class="btn btn-outline-success">Guardar</button>
        <a class="btn btn-outline-secondary" href="/{{ redirect }}">Cancelar</a>
        <a class="btn btn-outline-danger"
           href="{{ path('transaction-delete', {'id': form.vars.data.id, 'view': '/'~redirect}) }}">Delete</a>
    </div>

    <h3>Editar Transacion</h3>

    <div class="row">
        <div class="col-sm-3">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.amount) }}
            {{ form_widget(form.amount) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.recipeNo) }}
            {{ form_widget(form.recipeNo) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_label(form.store) }}
            {{ form_widget(form.store) }}
        </div>
        <div class="col-sm-6">
            {{ form_label(form.user) }}
            {{ form_widget(form.user) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            {{ form_label(form.method) }}
            {{ form_widget(form.method) }}
        </div>
        <div class="col-sm-3">
            {{ form_label(form.document) }}
            {{ form_widget(form.document) }}
        </div>
        <div class="col-sm-3">
            <label class="col-sm-2 control-label">Lookup</label><br/>
            {#            <a href="javascript:" onclick="searchDepId('{{ path('lookup-depo') }}')" #}
            {#               class="btn btn-info form-control">&raquo; &raquo; &raquo;</a> #}
            <div id="messageContainer"></div>
        </div>
        <div class="col-sm-3">
            {{ form_label(form.depId) }}
            {{ form_widget(form.depId) }}
        </div>
    </div>

    {{ form_widget(form) }}

    <input type="hidden" name="redirect" value="{{ redirect }}"/>

    {{ form_end(form) }}

{% endblock %}

