{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row>
            <columns>


                <img src="{{ email.image('@images/minicc-logo.gif') }}" alt="Logo"/>
                <hr>
                <h2>Pagos del {{ month }} / {{ year }}</h2>
                <p>blablabla
                </p>

                <p>
                    Atentamente,<br>
                    MiniCC KuKu - Atacames<br>
                    <br>
                    Revise todos sus movimientos en <a href="https://minicc.elkuku.dev">minicc.elkuku.dev</a>
                </p>

                <hr>

                <table class="body">
                    <tr>
                        <th>Fecha</th>
                        <th class="text-center">Local</th>
                        <th>Inquilino</th>
                        <th class="text-right">Monto</th>
                    </tr>
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.date|date('d-m Y') }}</td>
                            <td class="text-center">{{ payment.store.id }}</td>
                            <td>{{ payment.user.name }}</td>
                            <td class="text-right amount">{{ payment.amount }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <hr>

                <b>Archivo adjunto</b>: {{ fileName }}
            </columns>
        </row>
    </container>
{% endapply %}
